/* Display.css */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead {
    background-color: #4CAF50;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.addMoreBtn {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.addMoreBtn:hover {
    background-color: #0056b3;
}

p {
    margin: 5px 0;
}




/* insertpage */
.formDesign{
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    margin: 20px;
    /* margin-left: 400px; */

}
/* @media (max-width: 768px){
    .formDesign{
        margin: 10px;
    }
} */